/venv
/html_dumps/html_dumps/spiders/html_dumps
.env
__pycache__
glenigan/glenigan/output.json
glenigan/glenigan/spiders/logs
glenigan/glenigan/database.ini
.gitignore
old_output.json
output_status.json
output.json
ping.py
to_json.py